// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2022 Rockchip Electronics Co., Ltd.
 */

/dts-v1/;

#include "rv1103.dtsi"
#include "rv1106-evb.dtsi"
#include "rv1103-luckfox-pico-ipc.dtsi"

/ {
	model = "Luckfox Pico Plus";
	compatible = "rockchip,rv1103g-38x38-ipc-v10", "rockchip,rv1103";

	vcc_1v8: vcc-1v8 {
        compatible = "regulator-fixed";
        regulator-name = "vcc_1v8";
        regulator-always-on;
        regulator-boot-on;
        regulator-min-microvolt = <1800000>;
        regulator-max-microvolt = <1800000>;
    };

    vcc_3v3: vcc-3v3 {
        compatible = "regulator-fixed";
        regulator-name = "vcc_3v3";
        regulator-always-on;
        regulator-boot-on;
        regulator-min-microvolt = <3300000>;
        regulator-max-microvolt = <3300000>;
	};
	sdio_pwrseq: sdio-pwrseq {
		compatible = "mmc-pwrseq-simple";
		pinctrl-names = "default";
		reset-gpios = <&gpio1 RK_PA2 GPIO_ACTIVE_LOW>;
	};
	// sdio_pwrseq: sdio-pwrseq {
	// 	compatible = "mmc-pwrseq-simple";
	// 	pinctrl-names = "default";
	// 	// pinctrl-0 = <&wifi_enable_h>;
	// 	/*
	// 	 * On the module itself this is one of these (depending
	// 	 * on the actual card populated):
	// 	 * - SDIO_RESET_L_WL_REG_ON
	// 	 * - PDN (power down when low)
	// 	 */
	// 	post-power-on-delay-ms = <200>;
	// 	reset-gpios = <&gpio3 RK_PC5 GPIO_ACTIVE_HIGH>; # 这个引脚暂时没有用到
	// };

	// sdio_pwrseq: sdio-pwrseq {
	// 	compatible = "mmc-pwrseq-simple";
	// 	pinctrl-names = "default";
	// 	post-power-on-delay-ms = <200>;

	// 	reset-gpios = <&gpio1 RK_PA2 GPIO_ACTIVE_HIGH>;
};

/**********SFC**********/
&sfc {
	status = "okay";
	flash@0 {
		compatible = "spi-nand";
		reg = <0>;
		spi-max-frequency = <75000000>;
		spi-rx-bus-width = <4>;
		spi-tx-bus-width = <1>;
	};
};

/**********SDIO-WIFI**********/
// &sdmmc {
//     max-frequency = <20000000>; 
//     bus-width = <4>;           
//     cap-sd-highspeed;          
//     cap-sdio-irq;              
//     keep-power-in-suspend;      
//     non-removable;              
//     sd-uhs-sdr50;         
//     no-1-8-v;
//     supports-sdio;        
//     pinctrl-names = "default";
//     pinctrl-0 = <&sdmmc0_clk &sdmmc0_cmd &sdmmc0_det &sdmmc0_bus4>; 
//     status = "okay";
// };
&sdmmc {
        max-frequency = <50000000>;
        bus-width = <4>;
        cap-sd-highspeed;
        cap-sdio-irq;
        keep-power-in-suspend;
        non-removable;
        rockchip,default-sample-phase = <90>;
        // no-sd;
        // no-mmc;
        supports-sdio;
        mmc-pwrseq = <&sdio_pwrseq>;
        pinctrl-names = "default";
        pinctrl-0 = <&sdmmc0_clk &sdmmc0_cmd &sdmmc0_bus4 &sdmmc0_det>;
        status = "okay";
};

&pinctrl{
	sdmmc0{
		sdmmc0_det: sdmmc0-det {
			rockchip,pins =
				/* sdmmc0_det */
				<3 RK_PA1 1 &pcfg_pull_down>;
		};
  };
};


/**********ETH**********/
&gmac {
	status = "okay";
};

/**********USB**********/
&usbdrd_dwc3 {
	status = "okay";
	dr_mode = "peripheral";
};

/**********SPI**********/
/* SPI0_M0 */
&spi0 {
	status = "disabled";
	spidev@0 {
		spi-max-frequency = <50000000>;
	};
};

/**********I2C**********/
/* I2C3_M1 */
&i2c3 {
	status = "disabled";
	clock-frequency = <100000>;
};

/* I2C0_M2 */
&i2c0 {
	status = "disabled";
	clock-frequency = <100000>;
};

/**********UART**********/
/* UART3_M1 */
&uart3 {
	status = "disabled";
};

/* UART4_M1 */
&uart4 {
	status = "disabled";
};

/**********PWM**********/
/* PWM1_M0 */
&pwm1 {
	status = "disabled";
};
